.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
to {
    opacity: 1;
}
}

.notification {
    background: rgba(150, 195, 97, 1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.citySelection {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.notification p, .citySelection p {
    margin: 0 0 10px 0;
    font-size: 14px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.yesButton {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.noButton {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.cityList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.city {
    cursor: pointer;
    color: black;
    padding: 5px;
}

.city:hover {
    color: rgba(150, 195, 97, 1);
}
  
  