.number {
    width: 35px;
    height: 35px;
    border: 1px solid rgba(229, 229, 229, 1);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
    color: rgba(61, 61, 61, 1);
    cursor: pointer;
    border-radius: 4px;
}

.number:focus {
    background-color: rgba(150, 195, 97, 1);
    color: rgba(255, 255, 255, 1);
}

.number:hover {
    background-color: rgb(230, 225, 225);
    transition: 0.4s ease;
}

.Pagination {
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;
    margin-top: 20px;
    gap: 10px;
}